<%# app/views/quotes/index.html.erb %>

<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
  <div class="header">
    <h1>Quotes</h1>
    <!-- turbo_frame_tag: add new form to the page with second_turbo_frame -->
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary", data:{ turbo_frame:"_top"} %>
  </div>
<% end %>
<!-- turbo_frame_tag: add new form to the page with second_turbo_frame -->
<%#= turbo_frame_tag "second_turbo_frame" do %>
  <%= render @quotes %>
<%# end %>

</main>